<%= form_with model: manga  do |f| %>
  <% if manga.errors.any? %>
    <div
      class="
        bg-red-900/40 border border-red-700 rounded p-4 text-red-300 text-sm
      "
    >
      <% manga.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :title, class: "block text-sm text-slate-300 mb-1" %>
    <%= f.text_field :title,
                 class:
                   "w-full bg-slate-800 border border-slate-700 rounded px-3 py-2 text-slate-100 text-sm" %>
  </div>

  <div>
    <%= f.label :author, class: "block text-sm text-slate-300 mb-1" %>
    <%= f.text_field :author,
                 class:
                   "w-full bg-slate-800 border border-slate-700 rounded px-3 py-2 text-slate-100 text-sm" %>
  </div>

  <div>
    <%= f.label :description, class: "block text-sm text-slate-300 mb-1" %>
    <%= f.text_area :description,
                rows: 4,
                class:
                  "w-full bg-slate-800 border border-slate-700 rounded px-3 py-2 text-slate-100 text-sm" %>
  </div>

  <div>
    <%= f.label :status, class: "block text-sm text-slate-300 mb-1" %>
    <%= f.select :status,
             Manga.statuses.keys.map { |s| [s.humanize.downcase] },
             {},
             class:
               "w-full bg-slate-800 border border-slate-700 rounded px-3 py-2 text-slate-100 text-sm" %>
  </div>

  <div>
    <%= f.label :cover_image, class: "block text-sm text-slate-300 mb-1" %>
    <%= f.file_field :cover_image,
                 accept: "image/*",
                 class:
                   "text-sm text-zinc-400 file:mr-4 file:py-2 file:px-4
                      file:rounded file:border-0 file:bg-zinc-700
                      file:text-zinc-200 file:cursor-pointer" %>

  </div>

  <div class="py-2">

    <%= f.submit "Save",
             class:
               "bg-red-600 hover:bg-red-500 text-white px-6 py-2 rounded text-sm font-semibold cursor-pointer" %>

  </div>
<% end %>
